.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('/assets/images/bg-01.jpg');
    .card {
        // padding-top: 3rem;
        // padding-bottom: 3rem;
    //     background-color: hsla(0, 0%, 100%, 0.5);
    //     backdrop-filter: blur(10px);
    }
}